.skill-matrix {
    flex-wrap: wrap;
    margin: auto;
    text-align: left;
    padding-left: 1em;
    border-collapse: collapse !important;    
}

.skill-table {
  border: grey 1px solid !important; 
  border-collapse: collapse !important;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}